{% extends 'base.html' %}   <!-- 우선순위 가장 위! 가장 먼저 써주기-->
{% block contents %}
{% load staticfiles %}
<br><br><br>
<div class= 'container'>
<form action="{% url 'create' %}" method = "POST"  enctype = "multipart/form-data">
  {% csrf_token %}
    제목:
	<input type="text" name="title" style="width:700px;" >
    <br><br>
    <textarea  cols = "120" rows = "20"  name = "fulltext"></textarea>
    <br>
    <input class="upload_image" type="file" name="image">
    <br><br>
    <input class="btn btn-light" type = "submit" value = "글쓰기">
</form>
</div>

{% endblock %}